.navbar {
  height: 10vh !important;
}

#score {
  display: inline-block;
}

.main {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  align-items: center;
}

#btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#btns button {
  border: solid 1px gray !important;
  background-color: whitesmoke !important;
  justify-content: center;
  color: black;
  display: flex;
  align-items: center;
}

#btns button:nth-child(n-1) {
  margin-left: 20px;
}
